{
  "extends": ["../../.eslintrc.json"],
  "ignorePatterns": ["!**/*"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "rules": {
        "unicorn/prevent-abbreviations": "off",
        "spellcheck/spell-checker": "off"
      }
    }
  ]
}
